{% extends 'base.html' %}
    
{% block content %}

{% with errors = get_flashed_messages(category_filter=["success"]) %}
{% if errors %}
<article class="message is-success">
    <div class="message-body">
    {%- for msg in errors %}
    <strong>{{ msg }}</strong>
    {% endfor -%}
    </div>
</article>
{% endif %}
{% endwith %}

{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<article class="message is-danger">
    <div class="message-body">
    {%- for msg in errors %}
    <strong>{{ msg }}</strong>
    {% endfor -%}
    </div>
</article>
{% endif %}
{% endwith %}

<a href={{back}}><button class="button is-dark">Back</button></a> 

<div class="columns">
    <div class="column">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Found {{totalSize}} MuseumPlus objects (max. 500 objects can be listed)
                </p>
            </header>
            <div class="card-content">
                <div class="content">

                    {% if objects: %}
                    <table class="table table-sm ">
                        {% for items in objects: %}
                            {% if items[0].find("__id") >= 0: %}
                                <tr><td>
                                    <a href="{{url_for('metadata.metadata_object_by_id')}}?objectid={{items[1]}}"><button class="button is-dark">Object</button></a> 
                                </td> <td>{{items[1]}}</td><td>
                            {% elif items[0].find("thumbnail") >= 0: %}
                                    </td><td><img src="data:image/jpeg;base64,{{items[1]}}"></td></tr>
                            {% else: %}
                                {{items[1]}}
                            {% endif %}
                        {% endfor %}
                    </table>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

</div>
</br></br>
<!-- For testing use this: [[objects]] -->

</br></br>
<!-- For testing use this: [[xml]] -->

{% endblock %}