{% extends 'base.html' %}

{% block content %}
<h1 class="title">METADATA - Read lido_description.xml</h1>

<div class="columns">
    <div class="column">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <ul>
                        <li>MuseumPlus ID: {{mp_id}}</li>
                        <li>Inventory number: {{mp_inv}}</li>
                        <li>Metadata created date: {{mp_created}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="notification is-warning">
            <strong>WAIT FOR THE PROGRAM!</strong> Mediahillo is processing files ...
        </div>
        <div class="box">
            <span class="material-symbols-outlined">arrow_back</span>
            <a href="{{url_for('data.data_import_all')}}"><button class="button is-success" id="hide">Read</button></a> 
            Read lido_description.xml information
            </br>  </br>
            <span class="material-symbols-outlined">arrow_back</span>
            <a href="{{url_for('data.data_premis_event_frame_md')}}?flag=once"><button class="button is-success" id="hide1">Import</button></a>
            Import lido_desxription.xml to SIP-folder      
        </div>
        <div class="box">
            <span class="material-symbols-outlined">arrow_back</span>
            <button class="button is-danger">Delete</button>   
            Delete all files from METADATA-folder
        </div>
    </div>
</div>


{% endblock %}
