{% extends 'base.html' %}

{% block content %}

<div class="columns">
    <div class="column is-one-quarter">
        <div class="box">
            <h2 class="title">REST commands:</h2>
            <hr>
            <a href="{{url_for('rest.pas_rest_status')}}" class="has-text-weight-bold">Status</a> - information
            <hr>
            <a href="{{url_for('rest.pas_rest_accepted_created')}}" class="has-text-weight-bold">Accepted</a> - by CREATED <span class="tag is-primary"> > </span> 
            <hr>
            <a href="{{url_for('rest.pas_rest_accepted_mpid')}}" class="has-text-weight-bold">Accepted</a> - by MP_ID
            <hr>
            <a href="{{url_for('rest.pas_rest_accepted_mpinv')}}" class="has-text-weight-bold">Accepted</a> - by MP_INV
            <hr>
        </div>
    </div>

    <div class="column is-three-quarters">
        <div class="box">
            <h5 class="title is-5">{{environment}}</h5>
        </div>
        <div class="box">

            {{message}}

        </div>
    </div>
</div>
   
{% endblock %}